html, body {
    text-align: center;
    font-family: 'Montserrat' !important;
}

#content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 100px !important;
}

h3 {
    text-align: center !important;
}

#footer {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aimpressum {
    text-decoration: inherit !important;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 40px !important;
    }
    h3 {
        font-size: 20px !important;
    }
}


